{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": false,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(.*).vue$",
    "^@/commons/(.*)$",
    "^@/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSameLine": true
}