// 変数
t-root {
  // 共有
  --rounded: 8px;
  --window-buttons-close-hover: #ff0000;
  --size-0: 0.8em;
  --size-1: 1em;
  --size-2: 1.2em;
  --px-0: 2px;
  --px-1: 4px;
  --px-2: 8px;
  --px-3: 16px;
  --px-4: 32px;
  --color-window-button: #ffffff;
  // 明るいモード
  & {
    --color-0: #ffffff;
    --color-0-floating: #ffffff;
    --color-1: #eeeeee;
    --color-2: #dedede;
    --color-accent: rgb(206, 240, 255);
    --color-border: #999999;
    --color-overlay: #00000070;
    --color-font: #1a1a1a;
    --filter-icon: brightness(0.7) invert(100%);
    --shadow: 0px 0px var(--px-1) var(--px-2) rgba(0, 0, 0, 0.3);
  }
  // ダークモード
  &.dark {
    --color-0: #141414;
    --color-0-floating: #1d1d1d;
    --color-1: #272727;
    --color-2: #343434;
    --color-accent: rgb(41, 85, 112);
    --color-border: #5c5c5c;
    --color-overlay: #ffffff30;
    --color-font: #d3d3d3;
    --filter-icon: unset;
    --shadow: 0px 0px var(--px-1) var(--px-2) rgba(0, 0, 0, 0.5);
  }
}
// 共通スタイル
t-root {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: var(--rounded);
    min-height: var(--px-3);
  }
  button {
    display: inline-block;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--color-0);
    color: var(--color-font);
    padding: var(--px-1) var(--px-3);
    line-height: var(--size-1);
    font-size: var(--size-1);
    cursor: pointer;
    border: solid 1.2px var(--color-border);
    margin: var(--px-1);
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: var(--color-2);
    }
    &:active {
      background-color: var(--color-2);
    }
  }
  input[type="checkbox"] {
    margin: var(--px-1);
    --checkbox-width: 3em;
    --checkbox-height: 1.5em;
    --checkbox-background-color: var(--color-0);
    --checkbox-checked-background-color: var(--color-2);
    --checkbox-button-color: var(--color-border);
    --checkbox-checked-button-color: var(--color-border);
    --checkbox-border-color: var(--color-border);
    --checkbox-checked-border-color: var(--color-border);
    --checkbox-border-size: 1.5px;

    cursor: pointer;
    appearance: none;
    display: inline-block;
    transition-duration: 200ms;
    box-sizing: border-box;

    /*  */
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    line-height: var(--checkbox-height);

    background-color: var(--checkbox-button-color);
    border-radius: 9999px;
    border: var(--checkbox-border-size) solid var(--checkbox-border-color);
    box-shadow: inset 0px 0px 0px var(--checkbox-background-color),
      inset calc(var(--checkbox-height) * -1) 0px 0px var(--checkbox-background-color);
  }
  input[type="checkbox"]:checked {
    background-color: var(--checkbox-checked-button-color);
    border: var(--checkbox-border-size) solid var(--checkbox-checked-border-color);
    box-shadow: inset var(--checkbox-height) 0px 0px var(--checkbox-checked-background-color),
      inset 0px 0px 0px var(--checkbox-background-color);
  }
  input[type="checkbox"]:disabled {
    opacity: 0.5;
  }
  input[type="color"] {
    margin: var(--px-1);
    height: 1.5em;
    width: 1.5em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
  }

  ::-webkit-color-swatch {
    border: solid 1.2px var(--color-border);
    border-radius: 999px;
  }
  label {
    display: flex;
    align-items: center;
  }
}
// 全適用
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
}
