// 変数
t-root {
  // 共有
  --rounded: 8px;
  --window-buttons-close-hover: #ff0000;
  --size-0: 0.8em;
  --size-1: 1.0em;
  --size-2: 1.2em;
  // 明るいモード
  & {
    --color-main: #ffffff;
    --color-sub: #e9e9e9;
    --color-hover: #d9d9d9;
    --color-border: #999999;
    --color-modal: #00000070;
    --color-font: #333333;
    --filter-icon: brightness(0.7) invert(100%);
  }
  // ダークモード
  &.dark {
    --color-main: #141414;
    --color-sub: #272727;
    --color-hover: #333333;
    --color-border: #5c5c5c;
    --color-modal: #ffffff30;
    --color-font: #d3d3d3;
    --filter-icon: unset;
  }
}
// 共通スタイル
t-root {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: var(--rounded);
    min-height: 16px;
  }
  button {
    display: inline-block;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--color-main);
    color: var(--color-font);
    padding: 4px 16px;
    line-height: var(--size-1);
    font-size: var(--size-1);
    cursor: pointer;
    border: solid 1.2px var(--color-border);
    margin: 4px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: var(--color-hover);
    }
    &:active {
      background-color: var(--color-hover);
    }
  }
}
// 全適用
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}