t-root {
  // 共有
  --rounded: 8px;
  --window-buttons-close-hover: #ff0000;
  --size-0: 0.8em;
  --size-1: 1em;
  --size-2: 1.2em;
  --px-0: 2px;
  --px-1: 4px;
  --px-2: 8px;
  --px-3: 16px;
  --px-4: 32px;
  --color-window-button: #ffffff;
  // 明るいモード
  & {
    --color-0: #ffffff;
    --color-0-floating: #ffffff;
    --color-1: #eeeeee;
    --color-2: #dedede;
    --color-accent-1: rgb(189, 229, 246);
    --color-accent-2: #9cdcfe;
    --color-border: #999999;
    --color-overlay: #00000070;
    --color-font: #1a1a1a;
    --filter-icon: brightness(0.7) invert(100%);
    --shadow: 0px 0px var(--px-1) var(--px-2) rgba(0, 0, 0, 0.3);
    --floating-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  // ダークモード
  &.dark {
    --color-0: #141414;
    --color-0-floating: #202020;
    --color-1: #272727;
    --color-2: #343434;
    --color-accent-1: rgb(41, 85, 112);
    --color-accent-2: #9cdcfe;
    --color-border: #5c5c5c;
    --color-overlay: #ffffff30;
    --color-font: #d3d3d3;
    --filter-icon: unset;
    --shadow: 0px 0px var(--px-1) var(--px-2) rgba(0, 0, 0, 0.5);
    --floating-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
