t-root {
  button {
    display: inline-block;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--color-0);
    color: var(--color-font);
    padding: var(--px-1) var(--px-3);
    line-height: var(--size-1);
    font-size: var(--size-1);
    cursor: pointer;
    border: solid 1.2px var(--color-border);
    margin: var(--px-1);
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: var(--color-2);
    }
    &:active {
      background-color: var(--color-2);
    }
  }
}
