@import "./@colors.scss";
@import "./scrollbar.scss";
@import "./button.scss";
@import "./checkbox.scss";
@import "./color.scss";
@import "./label.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
}
